<footer>
    <section>
        <article>
            <div class="icon">

                <i class="fas fa-credit-card"></i>

            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="elfinal">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y
                siempre es
                seguro!</p>
        </article>
    </section>
    <section>
        <article>
            <div class="icon">

                <i class="fas fa-gift"></i>

            </div>
            <h3>Envío gratis desde $2.500</h3>
            <p class="elfinal">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
    </section>
    <section>
        <article>
            <div class="icon">

                <i class="fas fa-user-shield"></i>

            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p class="elfinal">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
    </section>
    <section>
        <article>
            <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
        </article>
    </section>
</footer>