<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo" width="360" alt="Logo de MercadoLiebre">

        <p class="align-left"><input class="search" type="text" placeholder="Buscar productos, marcas">
            <button class="searchb">
                <i class="fas fa-search"></i></button>
        </p>

        <p class="sub-header">
            <i class="fas fa-hand-holding-usd"></i>Sistema de administrasción de productos
        </p>

    </div>
    <nav class="main-navbar">
        <div class= "divlista1">
        <ul class="left-navbar">
            
            <li><a href="#">Producto</a></li>
            <li><a href="/products/create">Nuevo</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </div>
    <div class= "divlista2">
        <ul class="right-navbar">
            <li><a href="/register">Creá tu cuenta
                    <i class="far fa-id-card"></i>
                </a></li>
            <li><a href="/login">Ingresá
                    <i class="fas fa-sign-in-alt"></i>
                </a></li>
            
        </ul>
        <button class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </button>
    </div>
    </nav>
</header>