


<article>
    <img src="/images/<%= product.image %>" width="360" alt="Cafetera" class="product_img">
    <i class="fas fa-truck"></i>
    <p class="precio">$<%= product.price% %></p>
    <p class="descuento"><%= product.descuento %></p>
    <h4 class="descripcion"> <%= product.name %></h4>
</article>