<!DOCTYPE html>
<html>
    <%- include('partials/head') %>

    <body>
        
        <%- include('partials/header') %>

        <section>
            <img class="banner" src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        </section>

        <main>

            <h3>Quiero funcionar!</h3>
        </main>




</html>