


header {background-color : #EAC926;
    padding:20px;
    z-index: 100;
    
     }
    
    .main-header{
        position:fixed ;
        width: 100%;
        
       
    }
    .logo {
        width: 150px;
    }
    .title {
        
    }

    main {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        background-color: lightgrey;
        margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    }
     .title  {
    font-weight: bold;
    font-size: 30px;
     }

     .title2{
        font-weight: bold;
        font-size: 20px;
     }